<!--NAVBAR-->
<div class="pos-f-t">
    <nav class="navbar navbar-dark">
        <a class="navbar-brand pl-4" href="/">Celestial Countdown</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="p-4 text-right" id="toggled-menu">
            <h5><a href="/">Home</a></h5>
            <h5><a href="/calendar">Event Calendar</a></h5>
            <h5><a href="/{{ current_month }}/events">Event Descriptions</a></h5>
            {% if logged_in == True %}
                <h5><a href="/logout">Logout</a></h5>
            {% endif %}
        </div>
    </div>
</div>